/* ChipComponent.css */
.chip-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.chip-container {
  display: flex;
  width: 97.3%;
  align-items: center;
  border: 2px solid lightblue;
  padding: 3px 8px;
  border-radius: 9px;
  gap: 3px;
  flex-wrap: wrap;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chip {
  background-color: #e0e0e0;
  padding: 3px 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
}

.remove {
  margin-left: 5px;
  cursor: pointer;
  background: none;
  border: none;
  color: red;
}

.input {
  width: 1px;
  border: none;
  height: 100%;
  color: transparent;
  caret-color: black;
}

.input:focus {
  outline: none;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
}

.item-list li {
  cursor: pointer;
  padding: 14px 6px;
  border-bottom: 1px solid lightgray;
}

.item-list li:hover {
  background-color: #f0f0f0;
}

.input-placeholder{
  position: absolute;
    top: -9px;
    left: 7px;
    width: max-content;
    color: grey;
}

.input-placeholder-wrapper{
  position: relative;
}

.dropdown-box{

  background: #d3d3d32b;
  box-shadow: 5px 6px 33px lightblue;
  border-radius: 9px;
  padding: 19px 18px;

}